.produto-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 280px;
  padding: 20px;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative; /* Garante o contexto de empilhamento */
}

.produto-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  z-index: 10; /* Coloca o card na frente dos outros ao passar o mouse */
}

.produto-imagem {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.produto-titulo {
  color: #b27018; 
  font-size: 1.2em;
  margin: 10px 0;
  min-height: 40px; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
}

.produto-descricao {
  font-size: 0.95em;
  color: #555;
  margin-bottom: 10px;
  flex-grow: 1;
}

.produto-preco {
  font-size: 1.1em;
  color: #333;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
}

.produto-botao-carrinho {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  border: none;
  border-radius: 10px;
  color: #8b5e3c!important;
  background-color: #FFA552 !important;

  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.produto-botao-carrinho:hover {
   background-color: #f59e3b !important;
   color: white !important;
  transform: scale(1.05);
}
