.historia-section {
  position: relative;
background: url('../../assets/imagens/Body.png') no-repeat center;


  background-size: cover;
  color: #FFA552 !important;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 1rem;
  overflow: hidden;
  text-align: center;
}
.container {
  border-radius: 12px;
  
}

.order-container {
  position: relative;
  background-size: cover;
  min-height: 100vh;
  padding: 4rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-x: hidden;
}

.order-box {
  background-color: white; /* ou outro valor escuro ou translúcido */
  padding: 2rem;
  border-radius: 16px;
  border: 2px solid #FFA552;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  color: #FFA552;
}

.historia-section h2,
.historia-section h3,
.historia-section p {
  color: #FFA552;
 
}


h1 {
  font-size: 2.8rem;
  font-family: 'Brush Script MT', cursive;
  color: #FFA552;
  text-align: center;
  margin-bottom: 1.5rem;
   text-shadow: none; /* remove a sombra */
}


p {
  font-size: 1.3rem;
  font-family: 'Georgia', serif;
  line-height: 1.6;
  margin-top: 0.5rem;
   text-shadow: none; /* remove a sombra */
}



/* ✅ RESPONSIVIDADE */
@media (max-width: 768px) {
  .container {
    padding: 1.5rem;
  }

  h2 {
    font-size: 2.3rem;
    color: #FFA552 !important;
  }

  h3 {
    font-size: 1.3rem;
  }

  p {
    font-size: 1.1rem;
    color: #FFA552 !important;
  }

 

  .historia{
    text-align: center;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 2rem;
   color: #FFA552 !important;
  }

  p {
    font-size: 1rem;
    color: #FFA552 !important;
  }

}
